In [2]:
import pandas as pd

import pandasql as ps

def pysqldf(q):
    return ps.sqldf(q, globals())

In [24]:
# extraccion de los datos

clientes = pd.read_csv('cliente.csv', sep=';')
facturas = pd.read_csv('factura.csv', sep=';')
despachos = pd.read_csv('despacho.csv', sep=';')
recogidas = pd.read_csv('recogida.csv', sep=';')
lotes = pd.read_csv('lote.csv', sep=';')
fincas = pd.read_csv('finca.csv', sep=';')
cultivos = pd.read_csv('cultivo.csv', sep=';')
precios = pd.read_csv('precio.csv', sep=';')

In [ ]:
# 0. realizar un análisis exploratorio de los datos

In [8]:
clientes.head()
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17 non-null     object
 1   nombre  17 non-null     object
dtypes: object(2)
memory usage: 404.0+ bytes

In [10]:
facturas.head()
facturas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      349 non-null    object
 1   fecha   349 non-null    object
 2   total   349 non-null    float64
dtypes: float64(1), object(2)
memory usage: 8.3+ KB

In [14]:
despachos.isnull().sum()

id              0
fecha           0
id_cliente      0
id_factura    529
dtype: int64

In [16]:
recogidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1000000 non-null  object
 1   fecha        1000000 non-null  object
 2   id_lote      1000000 non-null  object
 3   cantidad     1000000 non-null  float64
 4   id_usuario   1000000 non-null  object
 5   id_despacho  967284 non-null   object
dtypes: float64(1), object(5)
memory usage: 45.8+ MB

In [17]:
recogidas.isnull().sum()

id                 0
fecha              0
id_lote            0
cantidad           0
id_usuario         0
id_despacho    32716
dtype: int64

In [19]:
lotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          48 non-null     object
 1   nombre      48 non-null     object
 2   id_finca    48 non-null     object
 3   id_cultivo  48 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

In [21]:
fincas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      object
 1   nombre  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [23]:
cultivos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     object
 1   nombre  10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [25]:
precios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          340 non-null    object
 1   id_cultivo  340 non-null    object
 2   valor       340 non-null    float64
 3   fecha       340 non-null    object
dtypes: float64(1), object(3)
memory usage: 10.8+ KB

In [ ]:
# 1. calcular la cantidad despachada por cada finca por mes

In [ ]:
# 2. calcular la cantidad recogida por cultivo por mes

In [ ]:
# 3. calcular la cantidad recogida por cultivo por finca

In [ ]:
# 4. calcular un comparativo mes por mes de la cantidad total despachada entre los años 2021, 2022 y 2023

In [ ]:
# 5. calcular el ingreso total por finca. El ingreso total se calcula como la cantidad despachada por el precio que tenía ese cultivo en el mes que se hizo la recogida.