In [22]:
%pip install pandas pandasql

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: pandasql in ./.venv/lib/python3.12/site-packages (0.7.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.12/site-packages (from pandasql) (2.0.35)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.12/site-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in ./.venv/lib/python3.12/site-packages (from sqlalchemy->pandasql) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd

import pandasql as ps

    
def pysqldf(q):
    return ps.sqldf(q, globals())

In [5]:
df = pd.read_csv('./world_bank_development_indicators.csv', sep=',')

In [7]:
df

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Afghanistan,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,Afghanistan,1961-01-01,57.878356,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,Afghanistan,1962-01-01,57.955016,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,Afghanistan,1963-01-01,58.031676,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,Afghanistan,1964-01-01,58.116002,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17267,Zimbabwe,2019-01-01,41.876696,45.213002,386850.0,657.0,6.927164,-1.271190,0.133336,46.682095,...,NaN,50.3,31.518,8.043,61.292,15354608.0,10408889.0,-1.163669,0.117815,5.145035
17268,Zimbabwe,2020-01-01,41.876696,45.093912,386850.0,657.0,5.118949,-1.287992,0.140076,52.747667,...,NaN,NaN,31.009,8.132,61.124,15669666.0,10617452.0,-1.113408,0.120230,4.977770
17269,Zimbabwe,2021-01-01,41.876696,44.974822,386850.0,NaN,NaN,-1.253550,0.151591,48.979927,...,NaN,NaN,30.537,9.057,59.253,15993524.0,10827136.0,-1.135830,0.120300,6.139985
17270,Zimbabwe,2022-01-01,NaN,NaN,NaN,NaN,NaN,-1.255139,0.151262,NaN,...,NaN,NaN,NaN,NaN,NaN,16320537.0,11033499.0,-1.102206,0.119338,NaN
17271,Zimbabwe,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# seleccion de una columna

df["country"]

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
17267       Zimbabwe
17268       Zimbabwe
17269       Zimbabwe
17270       Zimbabwe
17271       Zimbabwe
Name: country, Length: 17272, dtype: object

In [11]:
# seleccionar una lista de columnas

precipitacion_anual = df[['country', 'date', 'avg_precipitation']]


precipitacion_anual

           country        date  avg_precipitation
0      Afghanistan  1960-01-01                NaN
1      Afghanistan  1961-01-01              327.0
2      Afghanistan  1962-01-01              327.0
3      Afghanistan  1963-01-01              327.0
4      Afghanistan  1964-01-01              327.0
...            ...         ...                ...
17267     Zimbabwe  2019-01-01              657.0
17268     Zimbabwe  2020-01-01              657.0
17269     Zimbabwe  2021-01-01                NaN
17270     Zimbabwe  2022-01-01                NaN
17271     Zimbabwe  2023-01-01                NaN

[17272 rows x 3 columns]

In [17]:
# seleccionar columnas por índice 

df.iloc[:,[0, 1, 2]]

# seleccionar los primeros 10 registros de las primeras 3 columnas

# acceder a un grupo de filas o columnas especificas: [0, 10, 5, 35]
# acceder a un rango de filas o columnas: indiceInicial : indiceFinal

df.iloc[ 0:10 , [25, 36, 2] ]

df.iloc[ [0,1,2] , 10:25 ]

,renewvable_energy_consumption%,electric_power_consumption,CO2_emisions,other_greenhouse_emisions,population_density,inflation_annual%,real_interest_rate,risk_premium_on_lending,research_and_development_expenditure%,central_goverment_debt%,tax_revenue%,expense%,goverment_effectiveness_estimate,goverment_effectiveness_std,human_capital_index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,13.477056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,13.751356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# acceder a ciertas columnas segun el nombre
df.loc[ 0:100, ['country','date','gini_index'] ]

                         country        date  gini_index
0                    Afghanistan  1960-01-01         NaN
1                    Afghanistan  1961-01-01         NaN
2                    Afghanistan  1962-01-01         NaN
3                    Afghanistan  1963-01-01         NaN
4                    Afghanistan  1964-01-01         NaN
..                           ...         ...         ...
96   Africa Eastern and Southern  1992-01-01         NaN
97   Africa Eastern and Southern  1993-01-01         NaN
98   Africa Eastern and Southern  1994-01-01         NaN
99   Africa Eastern and Southern  1995-01-01         NaN
100  Africa Eastern and Southern  1996-01-01         NaN

[101 rows x 3 columns]

In [20]:
# seleccionar cierto tipo de dato

df.select_dtypes(include=['int', 'float'])

,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,renewvable_energy_consumption%,electric_power_consumption,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.340,31.921,32.535,8622466.0,7898093.0,NaN,NaN,NaN
1,57.878356,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.443,31.349,33.068,8790140.0,8026804.0,NaN,NaN,NaN
2,57.955016,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.570,30.845,33.547,8969047.0,8163985.0,NaN,NaN,NaN
3,58.031676,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.703,30.359,34.016,9157465.0,8308019.0,NaN,NaN,NaN
4,58.116002,NaN,652230.0,327.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.831,29.867,34.494,9355514.0,8458694.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17267,41.876696,45.213002,386850.0,657.0,6.927164,-1.271190,0.133336,46.682095,81.52,NaN,...,NaN,50.3,31.518,8.043,61.292,15354608.0,10408889.0,-1.163669,0.117815,5.145035
17268,41.876696,45.093912,386850.0,657.0,5.118949,-1.287992,0.140076,52.747667,84.36,NaN,...,NaN,NaN,31.009,8.132,61.124,15669666.0,10617452.0,-1.113408,0.120230,4.977770
17269,41.876696,44.974822,386850.0,NaN,NaN,-1.253550,0.151591,48.979927,NaN,NaN,...,NaN,NaN,30.537,9.057,59.253,15993524.0,10827136.0,-1.135830,0.120300,6.139985
17270,NaN,NaN,NaN,NaN,NaN,-1.255139,0.151262,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16320537.0,11033499.0,-1.102206,0.119338,NaN
17271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df[['country','date']].rename(columns={'country':'país', 'date':'fecha'})

              país       fecha
0      Afghanistan  1960-01-01
1      Afghanistan  1961-01-01
2      Afghanistan  1962-01-01
3      Afghanistan  1963-01-01
4      Afghanistan  1964-01-01
...            ...         ...
17267     Zimbabwe  2019-01-01
17268     Zimbabwe  2020-01-01
17269     Zimbabwe  2021-01-01
17270     Zimbabwe  2022-01-01
17271     Zimbabwe  2023-01-01

[17272 rows x 2 columns]

In [27]:

pysqldf("""
select
country as pais,
date as fecha,
death_rate as tasa_mortalidad
from df
""")

              pais       fecha  tasa_mortalidad
0      Afghanistan  1960-01-01           31.921
1      Afghanistan  1961-01-01           31.349
2      Afghanistan  1962-01-01           30.845
3      Afghanistan  1963-01-01           30.359
4      Afghanistan  1964-01-01           29.867
...            ...         ...              ...
17267     Zimbabwe  2019-01-01            8.043
17268     Zimbabwe  2020-01-01            8.132
17269     Zimbabwe  2021-01-01            9.057
17270     Zimbabwe  2022-01-01              NaN
17271     Zimbabwe  2023-01-01              NaN

[17272 rows x 3 columns]

In [35]:
# filtrar por una columna

df[ df['country'] == 'Colombia' ] # comparadores logicos: ==, !=, <, <=, >, >=


df[ df['avg_precipitation'] > 3200 ]

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
3010,Colombia,1962-01-01,36.928346,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,44.983,11.096,58.301,16691282.0,8488685.0,NaN,NaN,NaN
3011,Colombia,1963-01-01,37.397927,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,44.280,10.701,58.892,17210956.0,8504966.0,NaN,NaN,NaN
3012,Colombia,1964-01-01,37.850383,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,43.495,10.356,59.375,17739754.0,8510292.0,NaN,NaN,NaN
3013,Colombia,1965-01-01,38.763407,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,42.401,10.025,59.815,18275814.0,8622529.0,NaN,NaN,NaN
3014,Colombia,1966-01-01,38.774223,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,41.205,9.711,60.204,18811407.0,8730938.0,NaN,NaN,NaN
3015,Colombia,1967-01-01,38.776927,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,39.978,9.428,60.531,19343961.0,8830131.0,NaN,NaN,NaN
3016,Colombia,1968-01-01,38.778729,NaN,1109500.0,3240.0,6.727948,NaN,NaN,NaN,...,NaN,NaN,38.648,9.139,60.871,19872503.0,8919376.0,NaN,NaN,NaN
3017,Colombia,1969-01-01,38.783236,NaN,1109500.0,3240.0,7.147093,NaN,NaN,NaN,...,NaN,NaN,37.327,8.853,61.216,20392264.0,8997679.0,NaN,NaN,NaN
3018,Colombia,1970-01-01,38.783236,NaN,1109500.0,3240.0,7.307220,NaN,NaN,NaN,...,NaN,NaN,36.121,8.579,61.569,20905254.0,9065563.0,NaN,NaN,NaN
3019,Colombia,1971-01-01,40.607481,NaN,1109500.0,3240.0,7.668064,NaN,NaN,NaN,...,NaN,NaN,35.044,8.263,62.051,21405413.0,9120846.0,NaN,NaN,NaN
3020,Colombia,1972-01-01,40.620099,NaN,1109500.0,3240.0,7.023095,NaN,NaN,NaN,...,NaN,NaN,34.092,7.956,62.569,21898055.0,9165869.0,NaN,NaN,NaN
3021,Colombia,1973-01-01,40.634520,NaN,1109500.0,3240.0,6.989801,NaN,NaN,NaN,...,NaN,NaN,33.386,7.685,63.060,22396318.0,9207126.0,NaN,NaN,NaN
3022,Colombia,1974-01-01,40.648040,NaN,1109500.0,3240.0,7.530901,NaN,NaN,NaN,...,NaN,NaN,32.818,7.404,63.640,22897871.0,9249137.0,NaN,NaN,NaN
3023,Colombia,1975-01-01,40.662461,NaN,1109500.0,3240.0,7.851608,NaN,NaN,NaN,...,NaN,NaN,32.462,7.127,64.270,23403731.0,9289877.0,NaN,NaN,NaN
3024,Colombia,1976-01-01,40.675980,NaN,1109500.0,3240.0,7.920412,NaN,NaN,NaN,...,NaN,NaN,32.227,6.894,64.845,23913002.0,9325353.0,NaN,NaN,NaN
3025,Colombia,1977-01-01,40.842722,NaN,1109500.0,3240.0,7.720161,NaN,NaN,NaN,...,NaN,NaN,32.023,6.676,65.424,24443926.0,9363735.0,NaN,NaN,NaN
3026,Colombia,1978-01-01,40.794051,NaN,1109500.0,3240.0,7.034793,NaN,NaN,NaN,...,NaN,NaN,31.817,6.484,65.954,25003608.0,9406607.0,NaN,NaN,NaN
3027,Colombia,1979-01-01,40.808472,NaN,1109500.0,3240.0,7.322412,NaN,NaN,NaN,...,NaN,NaN,31.663,6.343,66.380,25579323.0,9448746.0,NaN,NaN,NaN
3028,Colombia,1980-01-01,40.821992,NaN,1109500.0,3240.0,7.522202,NaN,NaN,NaN,...,NaN,59.1,31.286,6.173,66.868,26176195.0,9492012.0,NaN,NaN,NaN
3029,Colombia,1981-01-01,40.836413,NaN,1109500.0,3240.0,6.714872,NaN,NaN,NaN,...,NaN,NaN,30.936,6.066,67.197,26785982.0,9533667.0,NaN,NaN,NaN
3030,Colombia,1982-01-01,40.849932,NaN,1109500.0,3240.0,6.880434,NaN,NaN,NaN,...,NaN,NaN,30.548,5.960,67.531,27405194.0,9571812.0,NaN,NaN,NaN
3031,Colombia,1983-01-01,40.864353,NaN,1109500.0,3240.0,5.540950,NaN,NaN,NaN,...,NaN,NaN,30.008,5.897,67.745,28042329.0,9609265.0,NaN,NaN,NaN
3032,Colombia,1984-01-01,40.879676,NaN,1109500.0,3240.0,5.816519,NaN,NaN,NaN,...,NaN,NaN,29.577,5.832,67.979,28689032.0,9643244.0,NaN,NaN,NaN
3033,Colombia,1985-01-01,40.896800,NaN,1109500.0,3240.0,6.539728,NaN,NaN,NaN,...,NaN,NaN,29.142,6.532,66.276,29326260.0,9667695.0,NaN,NaN,NaN
3034,Colombia,1986-01-01,40.914826,NaN,1109500.0,3240.0,7.990272,NaN,NaN,NaN,...,NaN,NaN,28.742,5.788,68.260,29960101.0,9717259.0,NaN,NaN,NaN
3035,Colombia,1987-01-01,40.920234,NaN,1109500.0,3240.0,7.904148,NaN,NaN,NaN,...,NaN,NaN,28.366,5.829,68.268,30603048.0,9777368.0,NaN,NaN,NaN
3036,Colombia,1988-01-01,40.813880,NaN,1109500.0,3240.0,7.849528,NaN,NaN,NaN,...,NaN,53.1,28.013,5.830,68.391,31256727.0,9835867.0,NaN,NaN,NaN
3037,Colombia,1989-01-01,40.723749,NaN,1109500.0,3240.0,7.223051,NaN,NaN,NaN,...,NaN,53.6,27.700,5.826,68.533,31923117.0,9893612.0,NaN,NaN,NaN
3038,Colombia,1990-01-01,40.633619,58.547219,1109500.0,3240.0,7.001910,NaN,NaN,89.900000,...,NaN,NaN,27.374,5.834,68.644,32601393.0,9949619.0,NaN,NaN,74.628714
3039,Colombia,1991-01-01,40.454259,58.346891,1109500.0,3240.0,6.859665,NaN,NaN,91.836655,...,NaN,51.3,27.011,5.818,68.813,33272628.0,9998757.0,NaN,NaN,85.427579
3040,Colombia,1992-01-01,40.543488,58.146563,1109500.0,3240.0,6.869147,NaN,NaN,92.132660,...,NaN,51.5,26.559,5.780,69.038,33939039.0,10040865.0,NaN,NaN,83.043011
3041,Colombia,1993-01-01,40.471384,57.946235,1109500.0,3240.0,7.281934,NaN,NaN,92.427994,...,NaN,NaN,26.091,5.710,69.342,34614735.0,10081888.0,NaN,NaN,82.164431
3042,Colombia,1994-01-01,40.437134,57.745907,1109500.0,3240.0,5.086783,NaN,NaN,92.721962,...,NaN,NaN,25.530,5.653,69.613,35295461.0,10119915.0,NaN,NaN,76.720913
3043,Colombia,1995-01-01,40.119874,57.545579,1109500.0,3240.0,4.904968,NaN,NaN,91.200000,...,NaN,NaN,24.939,5.580,69.933,35970101.0,10151842.0,NaN,NaN,62.054316
3044,Colombia,1996-01-01,40.486706,57.345251,1109500.0,3240.0,5.715726,-0.512254,0.210325,93.303101,...,NaN,56.9,24.351,5.536,70.189,36632573.0,10175430.0,-0.510942,0.196296,63.741086
3045,Colombia,1997-01-01,40.632717,57.144923,1109500.0,3240.0,5.450690,NaN,NaN,93.588913,...,NaN,NaN,23.731,5.476,70.492,37291946.0,10194872.0,NaN,NaN,62.211825
3046,Colombia,1998-01-01,41.048220,56.944595,1109500.0,3240.0,5.417416,-0.523702,0.188628,93.870644,...,NaN,NaN,23.165,5.442,70.738,37944414.0,10207806.0,-0.344189,0.204596,60.849536
3047,Colombia,1999-01-01,41.160883,56.744267,1109500.0,3240.0,5.859468,NaN,NaN,94.147530,...,NaN,58.7,22.649,5.432,70.926,38585033.0,10213458.0,NaN,NaN,63.120330
3049,Colombia,2001-01-01,37.625056,56.370193,1109500.0,3240.0,6.116647,NaN,NaN,98.470000,...,NaN,57.5,21.576,5.350,71.502,39837875.0,10206862.0,NaN,NaN,69.883246
3050,Colombia,2002-01-01,37.500676,56.196447,1109500.0,3240.0,5.550780,-0.264331,0.179225,94.881042,...,NaN,56.0,21.021,5.260,71.939,40454050.0,10195634.0,-0.416357,0.161942,70.170973
3051,Colombia,2003-01-01,37.900856,56.022701,1109500.0,3240.0,5.805732,-0.204286,0.170875,95.077187,...,NaN,53.6,20.444,5.179,72.361,41057687.0,10177790.0,-0.429242,0.163783,57.292561
3052,Colombia,2004-01-01,38.207301,55.848955,1109500.0,3240.0,5.734077,-0.140631,0.161957,95.278801,...,NaN,55.0,19.853,5.134,72.695,41648268.0,10153848.0,-0.318785,0.147355,48.525427
3053,Colombia,2005-01-01,38.356918,55.675210,1109500.0,3240.0,5.643679,-0.145389,0.157906,96.800000,...,NaN,53.9,19.265,5.072,73.081,42220940.0,10122893.0,-0.322521,0.146243,42.895776
3054,Colombia,2006-01-01,38.011717,55.501464,1109500.0,3240.0,5.994540,-0.175138,0.147841,95.726227,...,NaN,NaN,18.688,5.016,73.468,42772910.0,10084569.0,-0.172737,0.117829,40.864651
3055,Colombia,2007-01-01,38.247859,55.327718,1109500.0,3240.0,5.830824,-0.279160,0.152761,95.980408,...,NaN,NaN,18.173,4.993,73.837,43306582.0,10040198.0,-0.165322,0.115377,39.712209
3056,Colombia,2008-01-01,38.408292,55.153972,1109500.0,3240.0,5.854360,-0.261543,0.149585,96.806763,...,NaN,55.3,17.702,4.947,74.295,43815313.0,9988139.0,-0.165923,0.112094,36.836437
3057,Colombia,2009-01-01,38.341595,54.980226,1109500.0,3240.0,6.065056,-0.337013,0.153026,96.057229,...,NaN,54.3,17.275,4.912,74.742,44313917.0,9932078.0,-0.149578,0.113063,35.693076
3058,Colombia,2010-01-01,38.308247,54.806480,1109500.0,3240.0,5.811306,-0.423333,0.156814,96.788995,...,29.7,54.6,16.909,4.924,75.033,44816108.0,9875678.0,-0.132357,0.112329,34.494294
3059,Colombia,2011-01-01,37.603425,54.685141,1109500.0,3240.0,5.570852,-0.317528,0.146024,96.693600,...,28.8,53.5,16.609,4.945,75.320,45308899.0,9816173.0,-0.059714,0.111646,35.593449
3060,Colombia,2012-01-01,38.411537,54.563802,1109500.0,3240.0,5.804356,-0.422298,0.137697,97.032176,...,26.5,52.6,16.344,4.982,75.597,45782417.0,9751197.0,-0.063991,0.111650,35.908982
3061,Colombia,2013-01-01,40.392609,54.442462,1109500.0,3240.0,6.019128,-0.441053,0.138090,97.779418,...,24.3,52.6,16.088,5.041,75.827,46237930.0,9681760.0,-0.081279,0.110258,33.353569
3062,Colombia,2014-01-01,40.378549,54.321123,1109500.0,3240.0,6.491210,-0.397179,0.134030,97.790938,...,21.6,52.6,15.834,5.106,76.043,46677947.0,9608655.0,-0.043301,0.126920,28.585233
3063,Colombia,2015-01-01,40.364489,54.199784,1109500.0,3240.0,7.630381,-0.352240,0.135182,98.186898,...,19.8,51.0,15.585,5.168,76.257,47119728.0,9535148.0,0.003939,0.128818,27.128764
3064,Colombia,2016-01-01,40.350428,54.041902,1109500.0,3240.0,7.670703,-0.384033,0.136511,98.400000,...,17.6,50.6,15.353,5.213,76.471,47625955.0,9473755.0,0.121845,0.125270,26.040422
3065,Colombia,2017-01-01,39.195133,53.843867,1109500.0,3240.0,7.550977,-0.429445,0.123802,98.500000,...,NaN,49.7,15.081,5.249,76.646,48351671.0,9454686.0,0.112487,0.125744,25.434488
3066,Colombia,2018-01-01,39.700766,53.664245,1109500.0,3240.0,7.667359,-0.339971,0.126672,98.500000,...,19.1,50.4,14.841,5.311,76.748,49276961.0,9472017.0,0.172091,0.127886,26.231325
3067,Colombia,2019-01-01,39.976566,53.484633,1109500.0,3240.0,7.931801,-0.283157,0.134962,99.444260,...,17.5,51.3,14.682,5.411,76.752,50187406.0,9483412.0,0.204611,0.122207,25.753473
3068,Colombia,2020-01-01,39.704622,53.305011,1109500.0,3240.0,5.946414,-0.251916,0.143402,99.721756,...,18.1,53.5,14.435,6.606,74.769,50930662.0,9460370.0,0.143144,0.127262,24.242763

In [39]:
df[ (df['country'] == 'Colombia') & (df['avg_precipitation'] > 3200) ] # para hacer comparativos 'and' se usa el caracter &. Para hacer comparativos 'or' se usa el caracter |

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
3010,Colombia,1962-01-01,36.928346,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,44.983,11.096,58.301,16691282.0,8488685.0,NaN,NaN,NaN
3011,Colombia,1963-01-01,37.397927,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,44.280,10.701,58.892,17210956.0,8504966.0,NaN,NaN,NaN
3012,Colombia,1964-01-01,37.850383,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,43.495,10.356,59.375,17739754.0,8510292.0,NaN,NaN,NaN
3013,Colombia,1965-01-01,38.763407,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,42.401,10.025,59.815,18275814.0,8622529.0,NaN,NaN,NaN
3014,Colombia,1966-01-01,38.774223,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,41.205,9.711,60.204,18811407.0,8730938.0,NaN,NaN,NaN
3015,Colombia,1967-01-01,38.776927,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,39.978,9.428,60.531,19343961.0,8830131.0,NaN,NaN,NaN
3016,Colombia,1968-01-01,38.778729,NaN,1109500.0,3240.0,6.727948,NaN,NaN,NaN,...,NaN,NaN,38.648,9.139,60.871,19872503.0,8919376.0,NaN,NaN,NaN
3017,Colombia,1969-01-01,38.783236,NaN,1109500.0,3240.0,7.147093,NaN,NaN,NaN,...,NaN,NaN,37.327,8.853,61.216,20392264.0,8997679.0,NaN,NaN,NaN
3018,Colombia,1970-01-01,38.783236,NaN,1109500.0,3240.0,7.307220,NaN,NaN,NaN,...,NaN,NaN,36.121,8.579,61.569,20905254.0,9065563.0,NaN,NaN,NaN
3019,Colombia,1971-01-01,40.607481,NaN,1109500.0,3240.0,7.668064,NaN,NaN,NaN,...,NaN,NaN,35.044,8.263,62.051,21405413.0,9120846.0,NaN,NaN,NaN
3020,Colombia,1972-01-01,40.620099,NaN,1109500.0,3240.0,7.023095,NaN,NaN,NaN,...,NaN,NaN,34.092,7.956,62.569,21898055.0,9165869.0,NaN,NaN,NaN
3021,Colombia,1973-01-01,40.634520,NaN,1109500.0,3240.0,6.989801,NaN,NaN,NaN,...,NaN,NaN,33.386,7.685,63.060,22396318.0,9207126.0,NaN,NaN,NaN
3022,Colombia,1974-01-01,40.648040,NaN,1109500.0,3240.0,7.530901,NaN,NaN,NaN,...,NaN,NaN,32.818,7.404,63.640,22897871.0,9249137.0,NaN,NaN,NaN
3023,Colombia,1975-01-01,40.662461,NaN,1109500.0,3240.0,7.851608,NaN,NaN,NaN,...,NaN,NaN,32.462,7.127,64.270,23403731.0,9289877.0,NaN,NaN,NaN
3024,Colombia,1976-01-01,40.675980,NaN,1109500.0,3240.0,7.920412,NaN,NaN,NaN,...,NaN,NaN,32.227,6.894,64.845,23913002.0,9325353.0,NaN,NaN,NaN
3025,Colombia,1977-01-01,40.842722,NaN,1109500.0,3240.0,7.720161,NaN,NaN,NaN,...,NaN,NaN,32.023,6.676,65.424,24443926.0,9363735.0,NaN,NaN,NaN
3026,Colombia,1978-01-01,40.794051,NaN,1109500.0,3240.0,7.034793,NaN,NaN,NaN,...,NaN,NaN,31.817,6.484,65.954,25003608.0,9406607.0,NaN,NaN,NaN
3027,Colombia,1979-01-01,40.808472,NaN,1109500.0,3240.0,7.322412,NaN,NaN,NaN,...,NaN,NaN,31.663,6.343,66.380,25579323.0,9448746.0,NaN,NaN,NaN
3028,Colombia,1980-01-01,40.821992,NaN,1109500.0,3240.0,7.522202,NaN,NaN,NaN,...,NaN,59.1,31.286,6.173,66.868,26176195.0,9492012.0,NaN,NaN,NaN
3029,Colombia,1981-01-01,40.836413,NaN,1109500.0,3240.0,6.714872,NaN,NaN,NaN,...,NaN,NaN,30.936,6.066,67.197,26785982.0,9533667.0,NaN,NaN,NaN
3030,Colombia,1982-01-01,40.849932,NaN,1109500.0,3240.0,6.880434,NaN,NaN,NaN,...,NaN,NaN,30.548,5.960,67.531,27405194.0,9571812.0,NaN,NaN,NaN
3031,Colombia,1983-01-01,40.864353,NaN,1109500.0,3240.0,5.540950,NaN,NaN,NaN,...,NaN,NaN,30.008,5.897,67.745,28042329.0,9609265.0,NaN,NaN,NaN
3032,Colombia,1984-01-01,40.879676,NaN,1109500.0,3240.0,5.816519,NaN,NaN,NaN,...,NaN,NaN,29.577,5.832,67.979,28689032.0,9643244.0,NaN,NaN,NaN
3033,Colombia,1985-01-01,40.896800,NaN,1109500.0,3240.0,6.539728,NaN,NaN,NaN,...,NaN,NaN,29.142,6.532,66.276,29326260.0,9667695.0,NaN,NaN,NaN
3034,Colombia,1986-01-01,40.914826,NaN,1109500.0,3240.0,7.990272,NaN,NaN,NaN,...,NaN,NaN,28.742,5.788,68.260,29960101.0,9717259.0,NaN,NaN,NaN
3035,Colombia,1987-01-01,40.920234,NaN,1109500.0,3240.0,7.904148,NaN,NaN,NaN,...,NaN,NaN,28.366,5.829,68.268,30603048.0,9777368.0,NaN,NaN,NaN
3036,Colombia,1988-01-01,40.813880,NaN,1109500.0,3240.0,7.849528,NaN,NaN,NaN,...,NaN,53.1,28.013,5.830,68.391,31256727.0,9835867.0,NaN,NaN,NaN
3037,Colombia,1989-01-01,40.723749,NaN,1109500.0,3240.0,7.223051,NaN,NaN,NaN,...,NaN,53.6,27.700,5.826,68.533,31923117.0,9893612.0,NaN,NaN,NaN
3038,Colombia,1990-01-01,40.633619,58.547219,1109500.0,3240.0,7.001910,NaN,NaN,89.900000,...,NaN,NaN,27.374,5.834,68.644,32601393.0,9949619.0,NaN,NaN,74.628714
3039,Colombia,1991-01-01,40.454259,58.346891,1109500.0,3240.0,6.859665,NaN,NaN,91.836655,...,NaN,51.3,27.011,5.818,68.813,33272628.0,9998757.0,NaN,NaN,85.427579
3040,Colombia,1992-01-01,40.543488,58.146563,1109500.0,3240.0,6.869147,NaN,NaN,92.132660,...,NaN,51.5,26.559,5.780,69.038,33939039.0,10040865.0,NaN,NaN,83.043011
3041,Colombia,1993-01-01,40.471384,57.946235,1109500.0,3240.0,7.281934,NaN,NaN,92.427994,...,NaN,NaN,26.091,5.710,69.342,34614735.0,10081888.0,NaN,NaN,82.164431
3042,Colombia,1994-01-01,40.437134,57.745907,1109500.0,3240.0,5.086783,NaN,NaN,92.721962,...,NaN,NaN,25.530,5.653,69.613,35295461.0,10119915.0,NaN,NaN,76.720913
3043,Colombia,1995-01-01,40.119874,57.545579,1109500.0,3240.0,4.904968,NaN,NaN,91.200000,...,NaN,NaN,24.939,5.580,69.933,35970101.0,10151842.0,NaN,NaN,62.054316
3044,Colombia,1996-01-01,40.486706,57.345251,1109500.0,3240.0,5.715726,-0.512254,0.210325,93.303101,...,NaN,56.9,24.351,5.536,70.189,36632573.0,10175430.0,-0.510942,0.196296,63.741086
3045,Colombia,1997-01-01,40.632717,57.144923,1109500.0,3240.0,5.450690,NaN,NaN,93.588913,...,NaN,NaN,23.731,5.476,70.492,37291946.0,10194872.0,NaN,NaN,62.211825
3046,Colombia,1998-01-01,41.048220,56.944595,1109500.0,3240.0,5.417416,-0.523702,0.188628,93.870644,...,NaN,NaN,23.165,5.442,70.738,37944414.0,10207806.0,-0.344189,0.204596,60.849536
3047,Colombia,1999-01-01,41.160883,56.744267,1109500.0,3240.0,5.859468,NaN,NaN,94.147530,...,NaN,58.7,22.649,5.432,70.926,38585033.0,10213458.0,NaN,NaN,63.120330
3049,Colombia,2001-01-01,37.625056,56.370193,1109500.0,3240.0,6.116647,NaN,NaN,98.470000,...,NaN,57.5,21.576,5.350,71.502,39837875.0,10206862.0,NaN,NaN,69.883246
3050,Colombia,2002-01-01,37.500676,56.196447,1109500.0,3240.0,5.550780,-0.264331,0.179225,94.881042,...,NaN,56.0,21.021,5.260,71.939,40454050.0,10195634.0,-0.416357,0.161942,70.170973
3051,Colombia,2003-01-01,37.900856,56.022701,1109500.0,3240.0,5.805732,-0.204286,0.170875,95.077187,...,NaN,53.6,20.444,5.179,72.361,41057687.0,10177790.0,-0.429242,0.163783,57.292561
3052,Colombia,2004-01-01,38.207301,55.848955,1109500.0,3240.0,5.734077,-0.140631,0.161957,95.278801,...,NaN,55.0,19.853,5.134,72.695,41648268.0,10153848.0,-0.318785,0.147355,48.525427
3053,Colombia,2005-01-01,38.356918,55.675210,1109500.0,3240.0,5.643679,-0.145389,0.157906,96.800000,...,NaN,53.9,19.265,5.072,73.081,42220940.0,10122893.0,-0.322521,0.146243,42.895776
3054,Colombia,2006-01-01,38.011717,55.501464,1109500.0,3240.0,5.994540,-0.175138,0.147841,95.726227,...,NaN,NaN,18.688,5.016,73.468,42772910.0,10084569.0,-0.172737,0.117829,40.864651
3055,Colombia,2007-01-01,38.247859,55.327718,1109500.0,3240.0,5.830824,-0.279160,0.152761,95.980408,...,NaN,NaN,18.173,4.993,73.837,43306582.0,10040198.0,-0.165322,0.115377,39.712209
3056,Colombia,2008-01-01,38.408292,55.153972,1109500.0,3240.0,5.854360,-0.261543,0.149585,96.806763,...,NaN,55.3,17.702,4.947,74.295,43815313.0,9988139.0,-0.165923,0.112094,36.836437
3057,Colombia,2009-01-01,38.341595,54.980226,1109500.0,3240.0,6.065056,-0.337013,0.153026,96.057229,...,NaN,54.3,17.275,4.912,74.742,44313917.0,9932078.0,-0.149578,0.113063,35.693076
3058,Colombia,2010-01-01,38.308247,54.806480,1109500.0,3240.0,5.811306,-0.423333,0.156814,96.788995,...,29.7,54.6,16.909,4.924,75.033,44816108.0,9875678.0,-0.132357,0.112329,34.494294
3059,Colombia,2011-01-01,37.603425,54.685141,1109500.0,3240.0,5.570852,-0.317528,0.146024,96.693600,...,28.8,53.5,16.609,4.945,75.320,45308899.0,9816173.0,-0.059714,0.111646,35.593449
3060,Colombia,2012-01-01,38.411537,54.563802,1109500.0,3240.0,5.804356,-0.422298,0.137697,97.032176,...,26.5,52.6,16.344,4.982,75.597,45782417.0,9751197.0,-0.063991,0.111650,35.908982
3061,Colombia,2013-01-01,40.392609,54.442462,1109500.0,3240.0,6.019128,-0.441053,0.138090,97.779418,...,24.3,52.6,16.088,5.041,75.827,46237930.0,9681760.0,-0.081279,0.110258,33.353569
3062,Colombia,2014-01-01,40.378549,54.321123,1109500.0,3240.0,6.491210,-0.397179,0.134030,97.790938,...,21.6,52.6,15.834,5.106,76.043,46677947.0,9608655.0,-0.043301,0.126920,28.585233
3063,Colombia,2015-01-01,40.364489,54.199784,1109500.0,3240.0,7.630381,-0.352240,0.135182,98.186898,...,19.8,51.0,15.585,5.168,76.257,47119728.0,9535148.0,0.003939,0.128818,27.128764
3064,Colombia,2016-01-01,40.350428,54.041902,1109500.0,3240.0,7.670703,-0.384033,0.136511,98.400000,...,17.6,50.6,15.353,5.213,76.471,47625955.0,9473755.0,0.121845,0.125270,26.040422
3065,Colombia,2017-01-01,39.195133,53.843867,1109500.0,3240.0,7.550977,-0.429445,0.123802,98.500000,...,NaN,49.7,15.081,5.249,76.646,48351671.0,9454686.0,0.112487,0.125744,25.434488
3066,Colombia,2018-01-01,39.700766,53.664245,1109500.0,3240.0,7.667359,-0.339971,0.126672,98.500000,...,19.1,50.4,14.841,5.311,76.748,49276961.0,9472017.0,0.172091,0.127886,26.231325
3067,Colombia,2019-01-01,39.976566,53.484633,1109500.0,3240.0,7.931801,-0.283157,0.134962,99.444260,...,17.5,51.3,14.682,5.411,76.752,50187406.0,9483412.0,0.204611,0.122207,25.753473
3068,Colombia,2020-01-01,39.704622,53.305011,1109500.0,3240.0,5.946414,-0.251916,0.143402,99.721756,...,18.1,53.5,14.435,6.606,74.769,50930662.0,9460370.0,0.143144,0.127262,24.242763

In [40]:
# filtro isin

df[ df['country'].isin(['Colombia', 'Ecuador']) ]

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
3008,Colombia,1960-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.957,11.873,57.130,15687688.0,8429309.0,NaN,NaN,NaN
3009,Colombia,1961-01-01,36.025237,NaN,1109500.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.547,11.477,57.730,16182414.0,8463079.0,NaN,NaN,NaN
3010,Colombia,1962-01-01,36.928346,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,44.983,11.096,58.301,16691282.0,8488685.0,NaN,NaN,NaN
3011,Colombia,1963-01-01,37.397927,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,44.280,10.701,58.892,17210956.0,8504966.0,NaN,NaN,NaN
3012,Colombia,1964-01-01,37.850383,NaN,1109500.0,3240.0,NaN,NaN,NaN,NaN,...,NaN,NaN,43.495,10.356,59.375,17739754.0,8510292.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4345,Ecuador,2019-01-01,21.460783,50.580206,248360.0,2274.0,6.840200,-0.509075,0.140324,99.09,...,38.13,45.7,17.338,4.913,77.297,17343740.0,6246175.0,0.032008,0.122322,6.843968
4346,Ecuador,2020-01-01,21.823160,50.321429,248360.0,2274.0,4.618625,-0.503778,0.149615,98.85,...,NaN,47.3,17.037,7.534,72.153,17588595.0,6302697.0,-0.013823,0.127330,7.800509
4347,Ecuador,2021-01-01,22.024481,50.062651,248360.0,NaN,5.861056,-0.594089,0.167787,100.00,...,NaN,45.8,16.817,6.719,73.670,17797737.0,6342935.0,0.100769,0.129606,14.024255
4348,Ecuador,2022-01-01,NaN,NaN,NaN,NaN,7.343660,-0.629928,0.166021,NaN,...,NaN,45.5,NaN,NaN,NaN,18001000.0,6377754.0,0.025918,0.127768,NaN
4349,Ecuador,2023-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# filtros con SQL

pysqldf("""
select * from df
where country = 'Colombia'
limit 10
""")

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Colombia,1960-01-01,NaN,None,NaN,NaN,NaN,None,None,None,...,None,None,45.957,11.873,57.130,15687688.0,8429309.0,None,None,None
1,Colombia,1961-01-01,36.025237,None,1109500.0,NaN,NaN,None,None,None,...,None,None,45.547,11.477,57.730,16182414.0,8463079.0,None,None,None
2,Colombia,1962-01-01,36.928346,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,44.983,11.096,58.301,16691282.0,8488685.0,None,None,None
3,Colombia,1963-01-01,37.397927,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,44.280,10.701,58.892,17210956.0,8504966.0,None,None,None
4,Colombia,1964-01-01,37.850383,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,43.495,10.356,59.375,17739754.0,8510292.0,None,None,None
5,Colombia,1965-01-01,38.763407,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,42.401,10.025,59.815,18275814.0,8622529.0,None,None,None
6,Colombia,1966-01-01,38.774223,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,41.205,9.711,60.204,18811407.0,8730938.0,None,None,None
7,Colombia,1967-01-01,38.776927,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,39.978,9.428,60.531,19343961.0,8830131.0,None,None,None
8,Colombia,1968-01-01,38.778729,None,1109500.0,3240.0,6.727948,None,None,None,...,None,None,38.648,9.139,60.871,19872503.0,8919376.0,None,None,None
9,Colombia,1969-01-01,38.783236,None,1109500.0,3240.0,7.147093,None,None,None,...,None,None,37.327,8.853,61.216,20392264.0,8997679.0,None,None,None

In [46]:
# filtros con SQL

pysqldf("""
select * from df
where country = 'Colombia' and avg_precipitation >= 3240
limit 10
""")

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Colombia,1962-01-01,36.928346,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,44.983,11.096,58.301,16691282.0,8488685.0,None,None,None
1,Colombia,1963-01-01,37.397927,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,44.280,10.701,58.892,17210956.0,8504966.0,None,None,None
2,Colombia,1964-01-01,37.850383,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,43.495,10.356,59.375,17739754.0,8510292.0,None,None,None
3,Colombia,1965-01-01,38.763407,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,42.401,10.025,59.815,18275814.0,8622529.0,None,None,None
4,Colombia,1966-01-01,38.774223,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,41.205,9.711,60.204,18811407.0,8730938.0,None,None,None
5,Colombia,1967-01-01,38.776927,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,39.978,9.428,60.531,19343961.0,8830131.0,None,None,None
6,Colombia,1968-01-01,38.778729,None,1109500.0,3240.0,6.727948,None,None,None,...,None,None,38.648,9.139,60.871,19872503.0,8919376.0,None,None,None
7,Colombia,1969-01-01,38.783236,None,1109500.0,3240.0,7.147093,None,None,None,...,None,None,37.327,8.853,61.216,20392264.0,8997679.0,None,None,None
8,Colombia,1970-01-01,38.783236,None,1109500.0,3240.0,7.307220,None,None,None,...,None,None,36.121,8.579,61.569,20905254.0,9065563.0,None,None,None
9,Colombia,1971-01-01,40.607481,None,1109500.0,3240.0,7.668064,None,None,None,...,None,None,35.044,8.263,62.051,21405413.0,9120846.0,None,None,None

In [45]:
# filtro in

pysqldf("""
select * from df
where country in ('Colombia', 'Ecuador')
limit 10
""")

,country,date,agricultural_land%,forest_land%,land_area,avg_precipitation,trade_in_services%,control_of_corruption_estimate,control_of_corruption_std,access_to_electricity%,...,multidimensional_poverty_headcount_ratio%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,voice_and_accountability_std,intentional_homicides
0,Colombia,1960-01-01,NaN,None,NaN,NaN,NaN,None,None,None,...,None,None,45.957,11.873,57.130,15687688.0,8429309.0,None,None,None
1,Colombia,1961-01-01,36.025237,None,1109500.0,NaN,NaN,None,None,None,...,None,None,45.547,11.477,57.730,16182414.0,8463079.0,None,None,None
2,Colombia,1962-01-01,36.928346,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,44.983,11.096,58.301,16691282.0,8488685.0,None,None,None
3,Colombia,1963-01-01,37.397927,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,44.280,10.701,58.892,17210956.0,8504966.0,None,None,None
4,Colombia,1964-01-01,37.850383,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,43.495,10.356,59.375,17739754.0,8510292.0,None,None,None
5,Colombia,1965-01-01,38.763407,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,42.401,10.025,59.815,18275814.0,8622529.0,None,None,None
6,Colombia,1966-01-01,38.774223,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,41.205,9.711,60.204,18811407.0,8730938.0,None,None,None
7,Colombia,1967-01-01,38.776927,None,1109500.0,3240.0,NaN,None,None,None,...,None,None,39.978,9.428,60.531,19343961.0,8830131.0,None,None,None
8,Colombia,1968-01-01,38.778729,None,1109500.0,3240.0,6.727948,None,None,None,...,None,None,38.648,9.139,60.871,19872503.0,8919376.0,None,None,None
9,Colombia,1969-01-01,38.783236,None,1109500.0,3240.0,7.147093,None,None,None,...,None,None,37.327,8.853,61.216,20392264.0,8997679.0,None,None,None

In [53]:
# instrucciones de agrupacion

df[['country', 'gini_index']].groupby('country').max()

                             gini_index
country
Afghanistan                         NaN
Africa Eastern and Southern         NaN
Africa Western and Central          NaN
Albania                            34.6
Algeria                            40.2
...                                 ...
West Bank and Gaza                 35.6
World                               NaN
Yemen, Rep.                        36.7
Zambia                             60.5
Zimbabwe                           50.3

[274 rows x 1 columns]

In [54]:
pysqldf("""
select
country,
max(gini_index)
from df
group by country
""")

                         country  max(gini_index)
0                    Afghanistan              NaN
1    Africa Eastern and Southern              NaN
2     Africa Western and Central              NaN
3                        Albania             34.6
4                        Algeria             40.2
..                           ...              ...
269           West Bank and Gaza             35.6
270                        World              NaN
271                  Yemen, Rep.             36.7
272                       Zambia             60.5
273                     Zimbabwe             50.3

[274 rows x 2 columns]

In [57]:
pysqldf("""
select 
country,
avg(avg_precipitation)
from df
group by country
having avg(avg_precipitation) > 3000
""")

                 country  avg(avg_precipitation)
0               Colombia             3229.355932
1       Papua New Guinea             3142.000000
2  Sao Tome and Principe             3200.000000
3        Solomon Islands             3028.000000